<div>
    <h2 id="page-heading">
        <span jhiTranslate="gssgnApp.area.home.title">Areas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-area" [routerLink]="['/area/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gssgnApp.area.home.createLabel">
            Create a new Area
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="areas?.length === 0">
        <span jhiTranslate="gssgnApp.area.home.notFound">No areas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="areas && areas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="areaCode"><span jhiTranslate="gssgnApp.area.areaCode">Area Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="areaName"><span jhiTranslate="gssgnApp.area.areaName">Area Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="regionCode"><span jhiTranslate="gssgnApp.area.regionCode">Region Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="gssgnApp.area.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="gssgnApp.area.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="gssgnApp.area.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedDate"><span jhiTranslate="gssgnApp.area.updatedDate">Updated Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedBy"><span jhiTranslate="gssgnApp.area.updatedBy">Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let area of areas ;trackBy: trackId">
                    <td><a [routerLink]="['/area', area.id, 'view']">{{ area.id }}</a></td>
                    <td>{{ area.areaCode }}</td>
                    <td>{{ area.areaName }}</td>
                    <td>{{ area.regionCode }}</td>
                    <td jhiTranslate="{{ 'gssgnApp.CommonStatus.' + area.status }}">{{ area.status }}</td>
                    <td>{{ area.createdDate | date:'medium' }}</td>
                    <td>{{ area.createdBy }}</td>
                    <td>{{ area.updatedDate | date:'medium' }}</td>
                    <td>{{ area.updatedBy }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/area', area.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/area', area.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(area)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="areas && areas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
