<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-control-heading" jhiTranslate="gssgnApp.control.home.createOrEditLabel">Create or edit a Control Method</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">TT</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gssgnApp.control.controlCode" for="field_controlCode">Mã phương thức</label>
                    <input type="text" class="form-control" name="controlCode" id="field_controlCode"
                           formControlName="controlCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gssgnApp.control.controlName" for="field_controlName">Tên phương thức</label>
                    <input type="text" class="form-control" name="controlName" id="field_controlName"
                           formControlName="controlName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gssgnApp.control.regionCode" for="field_regionCode">Mô tả</label>
                    <input type="text" class="form-control" name="regionCode" id="field_regionCode"
                           formControlName="regionCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gssgnApp.control.status" for="field_status">Trạng thái</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="ACTIVE">{{ 'gssgnApp.CommonStatus.ACTIVE' | translate }}</option>
                        <option value="INACTIVE">{{ 'gssgnApp.CommonStatus.INACTIVE' | translate }}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
