<div>
    <h2 id="page-heading">
        <span jhiTranslate="gssgnApp.control.home.title">Control Method</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-control" [routerLink]="['/control/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gssgnApp.control.home.createLabel">
            Create a new Control
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="controls?.length === 0">
        <span jhiTranslate="gssgnApp.control.home.notFound">No controls found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="controls && controls.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">TT</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="controlCode"><span jhiTranslate="gssgnApp.control.controlCode">Mã phương thức</span></th>
                <th scope="col"  jhiSortBy="controlName"><span jhiTranslate="gssgnApp.control.controlName">Tên phương thức</span></th>
                <th scope="col"  jhiSortBy="regionCode"><span jhiTranslate="gssgnApp.control.regionCode">Mô tả</span> </th>
                <th scope="col"  jhiSortBy="status"><span jhiTranslate="gssgnApp.control.status">Trạng thái</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let control of controls ;trackBy: trackId">
                <td><a [routerLink]="['/control', control.id, 'view']">{{ control.id }}</a></td>
                <td>{{ control.controlCode }}</td>
                <td>{{ control.controlName }}</td>
                <td>{{ control.regionCode }}</td>
                <td jhiTranslate="{{ 'gssgnApp.CommonStatus.' + control.status }}">{{ control.status }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/control', control.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/control', control.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>

                        <button type="submit" (click)="delete(control)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="controls && controls.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
